@import '../../assets/scss/main.scss';

.item {
  position: relative;
  border-radius: 2px;
  border: 1px solid #393556;
  width: 225px;
  height: 261px;
  padding: 15px;
  cursor: pointer;

  &:hover {
    border: 1px solid #01c5ba;
  }

  &Img {
    width: 195px;
    height: 165px;
    margin-bottom: 23px;
  }

  &Price {
    display: flex;
    width: 100%;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border: 1px solid #01c5ba;

    color: #fff;
    font-size: 18px;
    font-weight: 700;

    &:hover {
      background-color: #01c5ba;
    }
  }

  &Fav {
    position: absolute;
    right: 15px;
    top: 15px;

    &__active {
      fill: #01c5ba;
    }

    &__inactive {
      fill: none;
    }
  }
}
